a{
  text-decoration: none;
  color: blue;
}
a:hover
{
  text-decoration: none;
  color:red;
}
body{
  background-color: beige;
  color: black;
  font-family: "Segoe UI","sans-serif";
  text-align: center;
}
footer{
  margin-top: 0rem;
  margin-bottom: 0rem;
}
h1{
  color: #075AAB;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
h2{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
h3{

  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h4{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
h5{
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
